
<form accept-charset="UTF-8" action="/enter" class="new_word"
      id="new_word" method="post">
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" >
  <label for="word">単語</label>
  <input id="word" name="word[word]" type="text" >

  <label for="meaning">意味</label>
  <input id="meaning" name="word[meaning]" type="text" >

  <input class="btn btn-primary" name="commit" type="submit"
         value="Enter">
</form>


    <p class="word-index">
      
      ＜登録した単語一覧＞
      </p>
    
    <% i=1 %>
  <ul class="words-list">
  
  <% @words.each do |word| %>
    <li>
      
   <div class="delete-btn-around">
    
    <div class="number"><%= "(#{i})" %></div>
    <div class="word"><%= word.word %></div>
    
    
    
      <div class="meaning"><%= word.meaning %></div>
      
    </div>
    
    <div class="destroy-btn">
    <%= button_to "削除", "/destroy/#{word.id}", method: :delete, 
                  data: { confirm: "削除しますか？" } %>
    </div>
    
    </li>
    
    <% i += 1 %>
    
  <% end %>
  
  <li class="all-delete">
    <div class="all-delete-around">登録した単語を全て消去：</div><%= button_to"All Delete","/all_delete" ,
                                                                                data: { confirm: "全ての単語を削除しますか？"} %>
  </li>
  
  </ul>
<p class="output-exam">【テスト問題の出力はこちらから】</p>
    <ul class ="output-btn">
      <li>
      <div class="btn-around">英→日：</div><%= button_to("PDF出力","/pdfs/show_EtoJ.pdf",method: :get) %>
      </li>
      
      <li>
        <div class="btn-around">日→英：</div><%= button_to("PDF出力","/pdfs/show_JtoE.pdf", method: :get) %>
      </li>
  </ul>
  
  <div class="note1">※推奨用紙サイズ：A４</div>
  <div class="note2">用紙一枚に１５単語まで出力可能です</div>
