<!DOCTYPE html>
<html>
  <head>
    <title>VocabularyTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 id="logo">
        <a href="/">
          <img src="#" alt="VocabularyTestApp">
        </a>
      </h1>
    </header>
    
   
    <div>
      <nav></nav>
      <main>
         <% flash.each do |message_type, message| %>
  <div class="flash"><div class="alert alert-<%= message_type %>"><%= message %></div></div>
  　　     <% end %>
        <%= yield %>
      </main>
      <aside></aside>
    </div>
    
    
    
    <footer></footer>
  </body>
</html>
