<!DOCTYPE html>
<html>
  <head>
    <title>VocabularyTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <ul class="title">
      <li><h5>塾講師大学生を救いたい</h5></li>
      <li><h1>作れる単語テスト【つくたん】</h1></li>
      </ul>
    </header>
    <div>
      <nav></nav>
      <main>
         <% flash.each do |message_type, message| %>
         <ul>
  <div class="flash"><div class="alert alert-<%= message_type %>">
    <li><%= message %> </li>
    </div></div>
  　　     <% end %>
  　　   <% if @word.errors %>
        <% @word.errors.full_messages.each do |message| %>
          <li class="error"><%= message %></li>
        <% end %>
        </ul>
      <% end %>
        <%= yield %>
      </main>
      <aside></aside>
    </div>
    <footer></footer>
  </body>
</html>
